@charset "utf-8";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$header-image: "./img/homesure-bonds-hero.jpg";
$contact-image: "./img/contact.png";

$primary: #00ACC8;
$white: #fff;
$black: #000;
$input-height:calc(#{$input-height-inner} + #{$input-height-border});

$spacer:1rem;
$border-width:3px;
$border-radius:0;
$enable-rounded: false;
$enable-shadows:false;
$enable-gradients:false;

@import "bootstrap/scss/bootstrap";
@import "bootstrap";

@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/page.scss";

@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

@import "layout/hero.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/clients.scss";
@import "layout/textblock.scss";
@import "layout/textblock-lite.scss";
@import "layout/testimonials.scss";
@import "layout/calculators.scss";


body {
    overflow-x: hidden;
    // font-family: "Roboto Slab","Roboto Condensed",sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Comfortaa', cursive;
    webkit-tap-highlight-color: $primary;
}

.post {
    max-width: 750px;
    margin-top: 150px;
}

