  <!-- Header -->
  <header class="masthead">
    
    <div class="container">
      <div class="intro-text">
        {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
        {%- endif -%}
        {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading">{{ site.data.sitetext.header.text | markdownify }}</div>
        {%- endif -%}
        
        <!-- Pre Qualify Button -->
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/contact">Pre Qualify Me</a> -->
        <!-- Pre Qualify Button End -->

      </div>
    </div>
  </header>
  <!-- End Header -->