<!-- Text-Block -->
<section class="bg-light page-section" id="{{ site.data.sitetext.textblock.section | default: "textblock" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.textblock.title | default: "Text Text-Block" }}
        </h2>
        {% if site.data.sitetext.textblock.text %}
        <h3 class="textblock-subheading text-muted">{{ site.data.sitetext.textblock.text }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1 text-center"></div>
      <div class="col-lg-10 text-left">
        <div class="container textblock-heading">
          {% for textblock in site.data.sitetext.textblock.list %}
          <div class="row">
              {% if textblock.image %}
              <div class="textblock-image col-1 p-1 text-center">
                <i class="fas {{textblock.image}} fa-2x"></i>
              </div>
              {% endif %}
              <div class="textblock-title col align-items-center">
                {{ textblock.title }}
              </div>
          </div>
          {% endfor %}
        </div>
        {% if site.data.sitetext.textblock.footer %}<div class="text-muted text-center w-100">
          {{ site.data.sitetext.textblock.footer | markdownify }}</div>{% endif %}
      </div>
      <div class="col-lg-1 text-center"></div>
    </div>

  </div>
</section>
<!-- End Text-Block -->