#clients {
  position: relative;
  z-index: 1;

  .client-logo-card {
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-1px);
    }

    img {
      max-height: 50px;
      max-width: 85px;
      filter: grayscale(0%);
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(10%);
      }
    }
  }
}
