// Styling for the services section
.textblock-heading {
    margin: 5px 0;
    text-transform: none;
    color: #01acc8;
}

.textblock-image {
  min-width: 50px;
}

.textblock-title {
  line-height: 2em;
}
